Start from scratch.... let's draw from one random distribution some number of times.

Then, add it to the result of a second distribution. Store the results

Then, consider time phase components

When these modules are developed, its ready to start plugging it in to excel

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
from scipy import stats as st
import matplotlib.pyplot as plt

import random

In [2]:
# First pass
simulations = 20 #start low

cum_prob = [i / simulations + .01 for i in range(simulations)]
cum_prob
st.norm.ppf(.5, loc=10, scale=2)
df_dists = pd.DataFrame(cum_prob, columns=['cum_prob'])
df_dists['var_1'] = st.norm.ppf(df_dists.cum_prob, loc=10, scale=2)
df_dists
df_seed = pd.DataFrame(index=range(simulations))

import math

import random

df_seed['var_1'] = [random.random() for i in range(df_seed.shape[0])]
df_seed
df_seed_rank = df_seed
df_seed_rank['var_1'] = df_seed.loc[:, 'var_1'].rank(axis=0)
df_seed_rank
df_draws = df_dists
df_seed_rank['var_1'].astype(int).values
df_dists['var_1'].iloc[df_seed_rank['var_1'].astype(int), :]

# Class only
To start: Add one value of several uniform variables

## Advantages:
Because wbs is calculated separately from random variables, the whole workbook doesn't need to be relcaculated for an update

In [2]:
import random

In [3]:
master_years = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
simulatios = 20

In [26]:
class random_variable:
    def __init__(self, pe=None, distribution=None, mean=0, std=0, cv=None, lower_bound=None, upper_bound=None, draws_for_simulation=[], seed_column_number=None):
        
        """
        Distributions: 
            - Uniform: Takes upper_bound, lower_bound
        """
        
        self.pe = pe
        self.distribution = distribution
        self.mean = mean
        self.std = std
        self.cv = cv
        self.upper_bound = upper_bound
        self.lower_bound = lower_bound
        self.draws_for_simulation = draws_for_simulation
        self.seed_column_number = seed_column_number
    
    def time_phase(self, level_per_year):
        adj_time_phasing = []
        for year in range(len(master_years)-1):
            if year >= len(level_per_year):
                adj_time_phasing += [0]
            else:
                adj_time_phasing += [self.pe * level_per_year[year]]
        return adj_time_phasing
                
    def get_draws(self, steps):
        if self.distribution == 'uniform':
            step_size = abs((self.upper_bound - self.lower_bound) / steps)
            return [x*step_size + self.lower_bound for x in range(steps)]
        else:
            print('   distribution not defined')
            
    def value(self):
        return self.pe

In [55]:
test = random_variable(pe=6, distribution='uniform', lower_bound=5, upper_bound=10)
test2 = random_variable(pe=20, distribution='uniform', lower_bound=15, upper_bound=25)
test3_static = random_variable(pe=5)
risk_variables = [test, test2, test3_static]

In [56]:
# Return basic list of variable values
def generate_values_table(list_of_variables, steps):
    df = pd.DataFrame()
    counter = 0
    for variable in list_of_variables:
        if variable.distribution is None:
            df["var_"+str(counter)] = [variable.pe for i in range(steps)]
        else:
            df["var_"+str(counter)] = variable.get_draws(steps=steps)
        variable.seed_column_number = counter
        counter +=1
    return df
#Return basic list of seeds - This is done explicitly to allow for correlation adjustment later
def generate_order_table(values_table):
    _df_seeds = pd.DataFrame()
    order_list = [i for i in range(values_table.shape[0])]
    for col in values_table.columns:
        random.shuffle(order_list)
        _df_seeds[col] = order_list
    return _df_seeds
# Function to sort values according to seed
def generate_draw_table(order_table, values_table):
    _df_draws = pd.DataFrame()
    
    for col in order_table.columns:
        _df_draws[col] = order_table[col].apply(lambda x: values_table[col].iloc[x])
    
    return _df_draws
# Condensed verion of above steps
def generate_shuffled_draws(list_of_variables, steps):
    df_raw_values = generate_values_table(list_of_variables=list_of_variables, steps=steps)
    df_seeds = generate_order_table(df_raw_values)
    _df_shuffled_draws =  generate_draw_table(df_seeds, df_raw_values)
    #Store risk values back into variable
    for i in range(len(df_raw_values.columns)):
        list_of_variables[i].draws_for_simulation = list(_df_shuffled_draws.iloc[:, i])
    return _df_shuffled_draws

In [57]:
df_shuffled_draws = generate_shuffled_draws(risk_variables, simulatios)

results = [test.draws_for_simulation[i] + test2.draws_for_simulation[i] for i in range(simulatios)]

df_shuffled_draws['output'] = results

In [58]:
df_shuffled_draws.corr()

           var_0     var_1  var_2    output
var_0   1.000000 -0.275188    NaN  0.227698
var_1  -0.275188  1.000000    NaN  0.873477
var_2        NaN       NaN    NaN       NaN
output  0.227698  0.873477    NaN  1.000000

In [59]:
df_shuffled_draws.describe()

          var_0     var_1  var_2     output
count  20.00000  20.00000   20.0  20.000000
mean    7.37500  19.75000    5.0  27.125000
std     1.47902   2.95804    0.0   2.920549
min     5.00000  15.00000    5.0  22.750000
25%     6.18750  17.37500    5.0  25.000000
50%     7.37500  19.75000    5.0  27.000000
75%     8.56250  22.12500    5.0  28.812500
max     9.75000  24.50000    5.0  34.000000

In [60]:
df_shuffled_draws.head()

   var_0  var_1  var_2  output
0   8.00   16.0      5   24.00
1   5.00   20.0      5   25.00
2   9.25   19.5      5   28.75
3   6.25   19.0      5   25.25
4   5.25   23.5      5   28.75

Could for example StandardScale variables and measure correlation from there to determine true size of impact

# Eventually
* Convert time series stuff to dataframe so that variable numbers can be spread across years
* Then output would havve to be a sum or table itself but that comes later

## Maybe...
put the point estimate and mean at the bottom of the seed column table to generalize the steps below?

### As DF

In [76]:
df_wbs = pd.DataFrame(columns=["Level_0_2", "Level_0_1_1", "Level_0_1_2", "Level_0_1", "Level_0"])

In [71]:
df_wbs["Level_0_2"]= test3_static.draws_for_simulation

df_wbs["Level_0_1_1"] = [test.draws_for_simulation[i] * test2.draws_for_simulation[i] for i in range(simulatios)] 
df_wbs["Level_0_1_2"] = [test.draws_for_simulation[i] + test2.draws_for_simulation[i] for i in range(simulatios)]
df_wbs["Level_0_1"]   = df_wbs.Level_0_1_1 + df_wbs.Level_0_1_2

df_wbs["Level_0"]     = df_wbs.Level_0_2 * df_wbs.Level_0_1

In [73]:
df_wbs.sort_values(by='Level_0')
# This is probably a better way to look at percentiles - one column at a time

    Level_0_2  Level_0_1_1  Level_0_1_2  Level_0_1   Level_0
1           5      100.000        25.00    125.000   625.000
5           5      106.375        24.25    130.625   653.125
6           5      112.375        22.75    135.125   675.625
3           5      118.750        25.25    144.000   720.000
16          5      123.750        23.25    147.000   735.000
0           5      128.000        24.00    152.000   760.000
4           5      123.375        28.75    152.125   760.625
18          5      132.000        29.50    161.500   807.500
9           5      140.250        25.00    165.250   826.250
8           5      139.500        25.75    165.250   826.250
15          5      138.000        29.00    167.000   835.000
19          5      139.750        28.00    167.750   838.750
7           5      141.750        27.75    169.500   847.500
10          5      153.000        26.00    179.000   895.000
13          5      153.125        26.25    179.375   896.875
12          5      153.750        28.00    181.750   908.750
11          5      154.000        29.00    183.000   915.000
2           5      180.375        28.75    209.125  1045.625
14          5      219.375        32.25    251.625  1258.125
17          5      232.750        34.00    266.750  1333.750

In [75]:
df_wbs.describe()

       Level_0_2  Level_0_1_1  Level_0_1_2   Level_0_1      Level_0
count       20.0    20.000000    20.000000   20.000000    20.000000
mean         5.0   144.512500    27.125000  171.637500   858.187500
std          0.0    33.680701     2.920549   36.090641   180.453205
min          5.0   100.000000    22.750000  125.000000   625.000000
25%          5.0   123.656250    25.000000  150.750000   753.750000
50%          5.0   139.625000    27.000000  166.125000   830.625000
75%          5.0   153.281250    28.812500  179.968750   899.843750
max          5.0   232.750000    34.000000  266.750000  1333.750000

To capture time phasing, each run is a whole dataframe?
Then each df is appended below. Then you can wbs.t.groupby(name?)